<h1>Tarjetas de Crédito</h1>
<%= link_to icon('fas','plus'), new_credit_card_path, class: "btn btn-primary" %>


<div class="row">
  <% @credit_cards.each do |cc| %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card border-info mb-3">
      <div class="card-header"><h3> <strong> <%= cc.get_issuer %> </strong> </h3></div>
      <div class="card-body text-info">
        <h5 class="card-title"><%= cc.get_kind %></h5>
        <p class="card-text"> Vencimiento: <%= cc.get_expiration %> </p>
        <p class="card-text"> Saldo: $ ####,## </p>
        <%= link_to icon('fas','trash'), credit_card_path(cc), method: :delete, data: { confirm: "Seguro?" }, class: "btn btn-danger" %>
        <%= link_to icon('fas','edit'), edit_credit_card_path(cc), class: "btn btn-warning" %>
        <%= link_to icon('fas','shopping-cart'), "#", data: { toggle: 'modal', target: ".cc-#{cc.id}" }, class: "btn btn-info" %>
        <!-- Large modal -->
        <div class="modal fade <%= raw "cc-#{cc.id}" %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"> <%= cc.get_issuer %> <small><%= cc.get_kind %></small> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <strong>Saldo: </strong> <%= cc.get_balance %>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin Modal -->
      </div>
    </div>
  </div>
  <% end %>
</div>
