<%= simple_form_for @monthly do |l| %>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :name, label:'Item' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :credit_card_id, collection: @credit_cards_options, label:'Tarjeta de Crédito' %>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :amount, label:'Monto' %>
    </div>
  </div>

  <%= l.button :submit, 'Guardar', class: "btn btn-success" %>
  <%= link_to icon('fas',"back","Cancelar"), monthlies_path, class: "btn btn-warning" %>
<% end %>
