<%= simple_form_for @purchase do |l| %>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :name, label:'Item' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :credit_card_id, collection: @credit_cards_options, label:'Tarjeta de Crédito' %>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :amount, label:'Monto', input_html: { min: '0', step: 'any' } %>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :fees, label:'Cuotas', input_html: { min: '1', step: 1 } %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :first_payment, label:'Primer Pago', as: :date, start_year: (Date.today.year - 1),   end_year: (Date.today.year + 1), order: [:month, :year] %>
    </div>
  </div>



  <%= l.button :submit, 'Guardar', class: "btn btn-success" %>
  <%= link_to icon('fas',"back","Cancelar"), purchases_path, class: "btn btn-warning" %>
<% end %>
