<h1> Compras <small><%= @purchases.count %></small>  </h1>
<%= link_to icon('fas','plus'), new_purchase_path, class: "btn btn-success" %>
<table class="table table-stripped table-dark">
  <thead>
    <tr>
      <th>Item</th>
      <th>Forma de Pago</th>
      <th>Monto</th>
      <th>Cuotas</th>
      <th>Primer Pago</th>
      <th>Último Pago</th>
      <th>Saldo Restante</th>
      <th>Estado</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |p| %>
    <tr>
      <td class="align-middle"> <%= p.get_item_name %> </td>
      <td class="align-middle"> <%= p.get_pay_method %> </td>
      <td class="align-middle"> <%= number_to_currency p.get_amount %> </td>
      <td class="align-middle"> <%= p.get_fees %> </td>
      <td class="align-middle"> <%= p.get_first_payment_date %> </td>
      <td class="align-middle"> <%= p.get_last_payment_date %> </td>
      <td class="align-middle"> <%= number_to_currency p.get_remaining_balance %> </td>
      <td class="align-middle"> <%= p.get_status %> </td>
      <td class="align-middle">
        <% unless p.payments.count > 0 %>
          <%= link_to icon('fab','amazon-pay'), create_payments_purchase_path(p), method: :post, class: "btn btn-info btn-sm" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
