<%= simple_form_for @tax do |l| %>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :name, label:'Item' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :service, label:'Servicio', collection: @services_options %>
    </div>
  </div>

  <%= l.button :submit, 'Guardar', class: "btn btn-success" %>
  <%= link_to icon('fas',"back","Cancelar"), taxes_path, class: "btn btn-warning" %>
<% end %>
